@font-face {
  font-family: "maple";
  src: url("../public/font/neodgm.woff");
}

* {
  font-family: maple;
}

html {
  background-image: linear-gradient(
    to bottom,
    rgb(248, 222, 81),
    rgb(226, 145, 52)
  );
  overflow: hidden;
}

html:active {
  cursor: url('/public/green-arrow.png');
}

.big-maple {
  position: absolute;
  top: calc(50% - 350px);
  left: calc(50% - 350px);
  filter: invert(94%) sepia(6%) saturate(0%) hue-rotate(81deg) brightness(1000%)
    contrast(107%);
  width: 600px;
  height: auto;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-start {
  align-items: start;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.mg-left-15 {
  margin-left: 15px;
}

.mg-top-10 {
  margin-top: 10px;
}

.mg-top-20 {
  margin-top: 20px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.fs-20 {
  font-size: 20px;
}

.bold {
  font-weight: 700;
}

.ft_red {
  color: rgb(219, 67, 67);
}